{% extends "base.html" %}
{% block head_title %}Restaurants | {{ block.super }}{% endblock head_title %}

{% block content %}

<div class="container">
<form method="post" action=".">
    {% dsrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{next}}" />
</form>
</div>
{% endblock %}
