{% extends "base.html" %}
{% block head_title %}Restaurants | {{ block.super }}{% endblock head_title %}

{% block content %}

<div class="container">
<h1>Thank you for registering with Mystery Books! You should receive an activation email shortly.</h1>
</div>
{% endblock %}
