{% extends "base.html" %}
{% block head_title %}Restaurants | {{ block.super }}{% endblock head_title %}

{% block content %}

<div class="container">
<form method="post" action=".">
    {% csrf_token %}
    {{ from.as_p }}
    <input type="submit" value="Register" />
</form>
</div>
{% endblock %}
