{% extends "base.html" %}
{% block head_title %}{{ page|title }}{% endblock head_title %}

{% block content %}

<div class="container">
    {% if request.user.is_authenticated %}
        <h4>
            Welcome, {% if request.user.first_name %}
                {{ request.user.first_name }}
            {% else %}
                {{ request.user.username }}
            {% endif %}! <a href="{% url 'auth_logout' %}">Log Out</a>
        </h4>
    {% else %}
        <h4>Welcome, mysterious person! Would you like to <a href="{% url 'auth_login' %}">log in?</a> </h4>
    {% endif %}
Welcome to the Mystery Books store! There are {{ count }} books in stock. User location: {{ request.session.location }}
</div>
{% endblock %}
